body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 95%;
    margin: auto;
}

.text-left {
    text-align-last: left;
}

.text-center {
    text-align-last: center;
}

.text-right {
    text-align-last: right;
}

.text-justify {
    text-align-last: justify;
}

.color-red {
    color: #f00;
}

.color-blue {
    color: hsl(210, 100%, 30%);
}

.is-loading {
    color: #888;
}